/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.text-white {
    color: #fff !important;
}

html {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

#main {

}

#header {
    width: 100%;
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav li {
    display: inline-block;
}

#nav li a {
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
    transition: all .2s;
}

#nav li:hover a {
    color: #000;
    background-color: #fff;
    border-radius: 5px;
}

#header .search-btn {
    float: right;
    padding: 0 21px;
    cursor: pointer;
}

#header .search-btn:hover {
    color: #fff;
    background-color: #f44366;
}

#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#slider {
    height: 100vh;
    /* margin-top: 46px; */
    /* padding-top: 47%; */
    background-image: url("/images/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /*background: url('slider1.jpg') center center / cover no-repeat;*/
    position: relative;
}

#slider .text-content {
    position: absolute;
    bottom: 20%;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#slider .text-heading {
    /* font-weight: 500; */
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: bold;
    display: inline-block;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 0.3em 0.63em;
    border: 2px solid #fffa;

    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    /* animation: typing 4s, cursor .4s step-end infinite alternate; */
}

/* typing effect */
@keyframes typing {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

#slider .text-desc {
    font-size: 18px;
    margin-top: 25px;
}

#content {
    
}

#content .content-section {
    width: 1000px;
    height: 100vh;
    padding: 92px 0;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    text-align: center;
    font-size: 30px;
    letter-spacing: 4px;
    margin-bottom: 25px;
}

#content .about-section {
    line-height: 1.4;
    letter-spacing: 2px;
    font-size: 20px;
    opacity: 0.8;
    text-align: justify;
}

/*Assignment section*/
.assingment-section {
    background-color: #000;
}

/* Assignment */
.assingment-list {
    margin: 32px -8px 48px;
}

.assignment-item {
    float: left;
    width: 25%;
    padding: 8px 8px;
}

.assignment-img {
    width: 100%;
    height: 238px;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.assignment-img:hover {
    opacity: 0.8;
}

.assignment-body {
    background-color: #fff;
    padding: 4px;
    font-size: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.assignment-heading {
    font-size: 21px;
    margin-top: 4px;
}

.assignment-desc {
    line-height: 1.6;
}

.view-bnt {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    cursor: pointer;
    margin-top: 4px;
    border-radius: 10px;
}

.view-bnt:hover {
    color: #000;
    background-color: #ccc;
}

.clear {
    clear: both;
}

#footer {
    padding: 64px 16px;
    text-align: center;

}

#footer .social-list {
    font-size: 24px;
}

#footer .social-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .social-list a:hover {
    color: rgba(0, 0, 0, 0.3);
}

#footer .copy-right {
    margin-top: 15px;
}